.btn-yellow{
    @include btn($amarillo, inline-block)
}

.btn-yellow-block{
    @include btn($amarillo, block)
}

.btn-yellow-dark{
    @include btn($amarilloOscuro, inline-block)
}

.btn-green{
    @include btn($verde, block)
}

.btn-grey{
    @include btn($grisClaro, block)
}

.btn{
    width: 25%;
}

.btn-red{
    @include btn($rojoOscuro, inline-block);
}

.botones{
    display: flex;
    justify-content: space-around;
}

