@include tablet{
    .container-advertisements{
        @include grid(3,2rem)
    }
}

.advertisement{
    background-color: lighten($color: $gris, $amount: 5);
    border: 1px solid lighten($color: $gris, $amount: 10);

    .container-advertisement{
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }

    
}

.price{
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.icons-caracteristics{
    display: flex;
    padding: 0;
    list-style: none;
    max-width: 40rem;

    li{
        flex: 1;
        display: flex;

        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }

        p{
            font-weight: $black;
        }
    }
}

.s1{
    margin-bottom: 2rem;
}