.no-webp .img-contact{
    background-image: url(../img/encuentra.jpg);
}
.webp .img-contact{
    background-image: url(../img/encuentra.webp);
}
.img-contact{
    background-position: center center;
    background-size: cover;
    padding: $separacion 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2{
        font-size: 4rem;
        font-weight: $black;
        color: $blanco;
    }
    p{
        font-size: 1.8rem;
        color: $blanco;
    }
}